nav{
    background: antiquewhite;
}

.menu__toggle {
    margin: 1rem 2rem;
    text-align: start;
    display: none;
}

@media screen and (max-width: 426px) {
    .flyout__navigation {
        position: fixed;
        top: 0;
        left: -200px; /* Inicialmente oculto fuera de la pantalla */
        width: 200px;
        height: 100vh;
        background-color: antiquewhite;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .menu__toggle {
        display: block;
    }

    .flyout__navigation.open{
        left: 0;
    }

    .flyout__navigation.open ul li a{
        color: #242424;
    }
}